
@{
    ViewBag.Title = "MSBOS";
    Layout = "~/Views/Shared/HomeDashboardLayout.cshtml";
}


<style>
    #mainContent_div{
       margin-top:15px;
        margin-left:100px;
        margin-right:100px;
    }
</style>

<div id="mainContent_div" style="border: 2px solid gray; padding-top: 15px;">
    <table>
        <tbody>
            <tr>
                <td style="font-weight: 700; font-size: medium; text-align: center;">सूचना</td>
            </tr>
            <tr>
                <td style="font-size: small;padding-left:5px">
                    १)अर्ज भरताना आपली वैयक्तिक माहिती अचूक भरावी. (उदा. नाव, आधार नंबर , मोबाईल नंबर, पत्ता, जन्मतारीख, ई – मेल, इयत्ता, संपर्क केंद्र ,माध्यम, विषय,इ.)<br>
                    २)मराठीतून माहिती भरण्यासाठी युनिककोड उपलब्ध करून दिलेला आहे. त्यामुळे ती माहिती बरोबर असल्याची खात्री करावी. तसेच आवश्यकतेनुसार दुरूस्ती करून अंतिम करावे.<br>
                    ३)कागदपत्रे स्कॅन करण्यासाठी विद्यार्थ्यानी स्कॅनर / मोबाईलद्वारे कागदपत्रांचे  फोटो काढून ते अपलोड करावेत . विद्यार्थ्यांचा मोबाईल क्रमांक व ई–मेल आयडी  पुढील संपर्कासाठी अनिवार्य  (Compulsory) आहे.<br>
                    ४)संपूर्ण अर्ज भरून तो सबमिट करावा. तदनंतर उपलब्ध होणार्याल PDF अर्जाची तसेच शुल्क पावती व हमी पत्राची दोन प्रतीत प्रिंट काढून घ्यावी.
                    विद्यार्थ्यांना अर्ज, विहित शुल्क व मूळ कागदपत्रे नावनोंदणी अर्जावर नमूद केलेल्या संपर्क केंद्र असलेल्या शाळा / कनिष्ठ महाविद्यालयामध्ये विहित मुदतीत जमा करावायची आहेत.<br>
                    ५)मुक्त विद्यालयामार्फत इयत्ता ५ वी / इयत्ता ८ वी साठी  प्रविष्ट होणार्‍या विद्यार्थ्याची नावनोंदणी अर्ज शुल्क निर्धारित करण्यात आले असून त्याची महिती चलनावर / महिती  पुस्तिकेत उपलब्ध असेल.<br>
                    ६)मुक्त विद्यालयामार्फत  ऑनलाईन पध्द्तीने नावनोंदणी केलेल्या पात्र विद्यार्ध्यांना ऑनलाईन पध्दतीनेच नावनोंदणी प्रमाणपत्र (Enrollment Certificate) उपलब्ध करून देण्यात येईल.<br>
                    ७)मुक्त विद्यालय मंडळाने निश्चित केलेल्या संपर्क केंद्रावर पात्र विद्यार्थ्यांना  मार्गदर्शन करण्यासाठी संपर्क शिबिरांचे आयोजन करण्यात येईल.<br>
                    ८)संबंधित पात्र विद्यार्थ्यांना मुक्त विद्यालय मंडळाने तयार केलेल्या स्वयंअध्ययन  पुस्तिका संपर्क केंद्रावर उपलब्ध करून देण्यात येतील.<br>
                    ९)नावनोंदणी केलेल्या पात्र विद्यार्थ्याने संपर्क शिबिरामध्ये  उपस्थित राहून त्याने निवडलेल्या विषयनिहाय  स्वयंअध्ययन  पुस्तिका सोडविणे आवश्यक आहे.<br>
                    १०)विद्यार्थ्याने सोडविलेल्या  स्वयंअध्ययन  पुस्तिकांचे मूल्यमापन संपर्क केंद्रावरील संबंधित तज्ञ शिक्षकांमार्फत तपासून व त्यावर आवश्यक ते मार्गदर्शन व सूचना नमूद करतील.<br>
                    ११)मुक्त विद्यालय मंडळामार्फत  इयत्ता ५ वी / इयत्ता८ वी  च्या विद्यार्थ्यांचे मूल्यमापन निर्धारित केलेल्या तरतुदीनुसार करण्यात येईल.
                </td>
            </tr>
            <tr>
                <td style="padding-left:5px">
                    <strong>
                        नोंदणी अर्जसोबत जोडावयाची कागदपत्रे –
                    </strong>
                </td>
            </tr>
            <tr>
                <td style="padding-left:5px">
                    १)शाळा सोडल्याचा दाखल्याची मूळप्रत  / द्वितीयप्रत
                    <br>
                    २)शाळेत गेला नसल्यास स्वयंघोषित प्रतिज्ञापत्र(वय वर्ष १८ पेक्षा जास्त असल्यास स्वत:चे व वय वर्ष १८ पेक्षा कमी  असल्यास पालकांचे )<br>
                    ३)आधारकार्ड
                    <br>
                    ४)स्वत:चा पासपोर्ट आकारातील फोटो स्वत: जवळ ठेवावा.
                    <br>
                    ५)ऑनलाईन अर्ज भरताना  सादर कागदपत्रे स्कॅन करून अपलोड करवयाची आहेत.
                    (कागदपत्रे स्कॅन करण्यासाठी विद्यार्थ्यानी स्कॅनर / मोबाईल द्वारे कागदपत्रांचे फोटो काढून ते अपलोड करावेत.)
                </td>
            </tr>

           

        </tbody>
    </table>
</div>


