
@{
    ViewBag.Title = "EC_Form";
    
}
<link href="~/Design/CSS/Login.css" rel="stylesheet" />

<style>
    #login .container #login-row #login-column #login-box {
        margin-left: 300px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>


@using (Html.BeginForm("EC_Form", "CenterLogin", FormMethod.Post))
{
<div class="newContainer">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1 class="text-center text-info">Download EC</h1>
    <div class="form-group" style="margin-left: 60px; margin-top: 40px;">
        <label class="text-info">Enter Application Id:</label><br>
        <input type="text" name="ApplicationId" id="ApplicationId" class="form-control">
    </div>
    <div class="form-group" style="margin-left: 60px; margin-top: 25px;">
        <label class="text-info">Enter Mobile No:</label><br>
        <input type="text" name="Mobile_no" id="Mobile_no" class="form-control">
    </div>
    <div class="form-group" style="margin-left: 170px; margin-top: 35px;">
        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
    </div>
    <div class="form-group" style="margin-left:150px; padding-bottom:40px;"></div>
    </div>
    }

